<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>

<body>
    <br> <br>
    <div class="container">
        <form ng-submit="createEntry()">
            <div >
                <div >
                    <div >
                        <label>Employee Id</label>
                        <input type="number" ng-model="emp_id" class="form-control" required>
                    </div>
                    <div>
                        <label>Employee Name</label>
                        <input type="text" ng-model="emp_name" class="form-control" required>
                    </div>
                </div>
            </div>
            <div >
                <div >
                    <div>
                        <label>Employee Salary</label>
                        <input type="number" ng-model="emp_salary" class="form-control" required>
                    </div>
                    <div class="offset-md-1 col-md-7">
                        <label for="orVal" class="form-label">Employee Department</label>
                        <input type="text" ng-model="emp_dep" class="form-control" required>
                    </div>
                </div>
            </div>
            <div >
                <div >
                    <div >
                        <label for="item" class="form-label">Employee Designation</label>
                        <input type="text" ng-model="emp_designation" class="form-control" required>
                    </div>
                    <div >
                        <div >
                            <label for="" class="form-label">Employee Location</label>
                            <select class="form-select form-select-lg" ng-model="emp_location" id="" required>
                                <option selected disabled value="">Select one</option>
                                <option value="Bengaluru">Bengaluru</option>
                                <option value="Kochi">Kochi</option>
                                <option value="Chennai">Chennai</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5 d-flex justify-content-center">
                <input type="submit" value="Create" class="btn btn-success">
            </div>
        </form>
    </div>
</body>

</html>